<%- include("partials/header.ejs") %>

<main>
    <div class="p-5 text-center rounded-3">
        <h1><%= title %></h1>
        <p class="col-lg-8 mx-auto fs-5 ">
            <%= description %>
        </p>
    </div>
</main>


<%- include("partials/footer.ejs") %>